#footer {
  position: relative;
  margin-top: -115px;
  z-index: 10;
  height: 50vh;
  background-color: rgba(21, 19, 19, 1);
  color: white;
  text-align: center;
}
footer::before {
  content: "";
  position: absolute;
  top: 50px; 
  left: 30px;
  right: 30px;
  height: 0.5px; /* Товщина лінії */
  background-color: rgba(0, 255, 255, 1); 
}
.footer-container {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-left: 15px; 
}
.footer-left-side {
  display: flex;
  flex-direction: column;
}
.footer-title {
  /* position: absolute; */
  text-align: center;
  font-size: 30px;
  color: rgba(0, 255, 255, 1);
  
  
/* 
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.7), 
  4px 4px 0 rgba(0, 0, 0, 0.5), 
  6px 6px 0 rgba(0, 0, 0, 0.3); */
}
.footer-title.accent {
  font-size: 50px;

}  
/* .footer-slogan {
 

} */
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 15px;
 
}