/* .reviews {
  background: linear-gradient(180deg, #222, #444);
}
.reviews-title {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: white;
}
.elfsight-widget-advertisement {
  display: none !important;
}

.elfsight-app .WidgetTitle__Header-sc-ruy1gu-2 eWlnOb {
  display: none !important;
} */

/* #reviews .reviews-title {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  color: white;
}

#reviews {
  background: linear-gradient(180deg, #222, #444);
} */