<!-- Footer section -->
<footer id="footer">
  <div class="container footer-container">
    <div class="footer-title-about">
      <a href="#header" class="footer-title-link">
        <h2 class="footer-title">AutoHelp <br><span class="footer-subtitle">мобільний шиномонтаж</span></h2>
        <p class="footer-slogan">Від ремонту до заміни шин — все виконується з увагою до деталей і професіоналізмом наших фахівців. </p> 
      </a>  
    </div>
    
    <div class="footer-contact">
      <ul class="footer-contact-list">
        <li class="footer-contact-item">
          <a href="tel:+380938851725" class="contact-phone">
            <svg class="icon-phone-call"  width="22px" height="22px">
              <use href="../img/symbol-defs.svg#icon-phone-call">
              </use>
            </svg>
            +380938851725
          </a>
        </li>
        <li class="footer-contact-item">
          <a href="tel:+380937634626" class="contact-phone">
            <svg class="icon-phone-call"  width="22px" height="22px">
              <use href="../img/symbol-defs.svg#icon-phone-call">
              </use>
            </svg>
            
            +380937634626
          </a>
        </li>
        <li class="footer-contact-item">
          <a class="social-link" href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit our Instagram page"
            title="Visit our Instagram">
            Follow us
            <svg class="footer-social-icon"  width="24px" height="24px">
              <use href="../img/symbol-defs.svg#icon-instagram">
              </use>
            </svg>
          </a>
        </li>
      </ul>
        
      <div class="location">
          <svg class="icon-location" width="32" height="32">
            <use href="../img/symbol-defs.svg#icon-location">
            </use>
          </svg>
          <p>Україна, м.Львів</p>
      </div>  
    </div>
    
          
         
  </div>
</footer>