<header class="header" id="home">
  <div class="header-container container">
    <nav class="header-nav">
      <a href="#home" class="header-logo">
        <img class="header-logo-img" src="./img/AutoHelp_without_slogan.svg" alt="Site logo" width="40" height="40">
        <span>AutoHelp</span>
      </a>      


      <!-- Бургер-меню -->
      <button class="burger-menu" aria-label="Toggle menu">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
      </button>

      

      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about-us">
            Про нас
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#services">
            Наші послуги
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#works">
          Наші роботи
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#reviews">
          Відгуки
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#footer">
          Контакти
          </a>
        </li>
      </ul>
    </nav>
  </div>





</header>
      
