<header class="header" id="header">
  <div class="header-container container">
    <nav class="header-nav">
    
        <a href="#home" class="header-logo">
          <img class="header-logo-img" src="./img/AutoHelp_without_slogan.svg" alt="Site logo" width="40" height="40">
            <span class="logo-name">AutoHelp</span>
        </a> 

        <!--Бургер меню кнопка -->
       <button class="menu-btn" type="button" aria-label="Open menu button">
        <svg class="menu-btn-icon" width="28" height="28" >
          <use href="../img/sprite.svg#icon-menu"></use>
        </svg>
       </button>

       <!-- Меню -->
      <ul class="header-list">
        <li class="header-item">
          <a class="header-link" href="#about-us">
            Про нас
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#services">
            Наші послуги
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#reviews">
          Відгуки
          </a>
        </li>
        <li class="header-item">
          <a class="header-link" href="#footer">
          Контакти
          </a>
        </li>
      </ul>



      <!-- Мобільне меню -->
      <div class="mobile-menu  hidden">
        <button class="menu-btn" id="close-menu-btn" type="button" aria-label="Close menu button">
          <svg class="menu-btn-icon" width="28" height="28">
            <use href="../img/sprite.svg#icon-cross"></use>
          </svg>
        </button>

        <ul class="mobile-menu-list">
          <li class="mobile-menu-item">
            <a class="mobile-menu-link current" href="#about">Про нас</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#services">Наші послуги</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#reviews">Відгуки</a>
          </li>
          <li class="mobile-menu-item">
            <a class="mobile-menu-link" href="#footer">Контакти</a>
          </li>
        </ul> 

      </div>

   
        
      
    </nav>
  </div>

</header>
      
