<section class="hero-section section">
  
  <div class="container">
    <!-- <div class="video-container">
      <video id="intro-video" autoplay muted>
        <source src="/img/autohelp_animation.mp4" type="video/mp4">
        Ваш браузер не підтримує відео тег.
      </video>
    </div> -->
    <!-- <div class="hero-content"> -->
      <h1 class="hero-title"><span class="accent">AutoHelp</span> <br>мобільний шиномонтаж</h1>
      <a href="tel:+380938851725">
       <button class="hero-btn">Замовити послугу</button>
      </a>
    <!-- </div>   -->
  </div>
</section>